@using System.Text
@model kcconstruction.ViewModels.GallerySnippetViewModel


<div class="row kc-main-page kc-gallery-snippet">
    <div class="col-md-12 kc-title">
        @{
            var anchorName = Model.Name + "Anchor";
        }
        <h2 id="@anchorName" class="kc-h2">@Model.Title</h2>
    </div>
    
    <div class="row col-md-6 kc-images justify-content-center no-gutters">
        @{
            var tmpStringBuilder = new StringBuilder();
            foreach (var modelPathToImage in Model.PathToImages)
            {
                tmpStringBuilder.Append(modelPathToImage);
                tmpStringBuilder.Append(';');
            }

            tmpStringBuilder.Remove(tmpStringBuilder.Length-1, 1);
            var imagesAsStringList = tmpStringBuilder.ToString();
        }

        <input type="hidden" id="@Model.Name" value="@imagesAsStringList">
        <a onClick="showGallery('@Model.Name', '@Model.PathToImages[0]');">
            <img src="@Model.PathToImages[0]" class="kc-main-gallery-image"/>
        </a>

        @{
            int colCount = 4;

            int colMdVal = 12 / colCount;

            double rowCountTmp = Convert.ToDouble(Model.PathToImagesSm.Count - 1) / colCount;
            double rowCount = Math.Ceiling(rowCountTmp);
            int colsWithExtraAmountOfCols = (Model.PathToImagesSm.Count - 1) % colCount;

            int imNum = 1;

            for (int j = 0; j < colCount; j++)
            {
                var picColCount = (j < colsWithExtraAmountOfCols) ? rowCount : rowCount - 1;
                picColCount = (picColCount == 0) ? 1 : picColCount;
                <div class="col-@colMdVal">
                    @for (int i = 0; i < picColCount; i++)
                    {
                        if (imNum < @Model.PathToImagesSm.Count)
                        {
                            <div class="kc-thumb-gallery-image-wrapper">
                                <a onClick="showGallery('@Model.Name', '@Model.PathToImagesSm[imNum]');">
                                    <img src="@Model.PathToImagesSm[imNum]" class="kc-thumb-gallery-image"/>
                                </a>
                            </div>
                            imNum++;
                        }
                    }
                </div>
            }
        }

    </div>
    
    <div class="col-md-6 kc-description">
        <div class="kc-text">
            <p>@Model.CommonProperties</p>
        </div>
        <div class="kc-text kc-infotext">
            <p><span>Регион строительства:</span>@Model.Region</p>
        </div>
        @if (Model.FundamentType != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Тип объекта/назначение:</span>@Model.BuildingType</p>
            </div>
        }
        @if (Model.FundamentType != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Технология:</span>@Model.Technology</p>
            </div>
        }
        @if (Model.FundamentType != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Тип фундамента:</span>@Model.FundamentType</p>
            </div>
        }
        @if (Model.Floor != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Этажность:</span>@Model.Floor</p>
            </div>
        }
        @if (Model.Sizes != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Габаритные размеры:</span>@Model.Sizes</p>
            </div>
        }
        @if (Model.Square != "")
        {
            <div class="kc-text kc-infotext">
                <p><span>Площадь:</span>@Model.Square</p>
            </div>
        }
        @if (Model.IsFullCycled)
        {
            <div class="kc-text kc-infotext">                    
                <div class="kc-cycle-link-wrapper">
                    @if (@Model.FullCycleLink.Contains("Stroitelstvo"))
                    {
                        var hrefValue = "/"+ Model.FullCycleLink+"#"+ Model.Name + "Anchor";
                        <button onclick="window.location.href='@hrefValue'"  class="btn btn-outline-primary btn-lg btn-block ">
                            Реализация проекта
                            <i class="fas fa-arrow-right"></i>
                            <i class="fas fa-landmark"></i>
                        </button>
                    }
                    else
                    {
                        var hrefValue = "/"+ Model.FullCycleLink+"#"+ Model.Name + "Anchor";
                        <button onclick="window.location.href='@hrefValue'"  class="btn btn-outline-primary btn-lg btn-block ">
                            Проект
                            <i class="fas fa-arrow-right"></i>
                            <i class="fas fa-pencil-alt"></i>
                        </button>

                    }
                </div>
            </div>
        }
    </div>
</div>


