@using System.Text
@model kcconstruction.ViewModels.GallerySnippetViewModel


<div class="row kc-main-page kc-gallery-snippet">
    
    <div class="col-md-12 kc-title">
        <h2 class="kc-h2">@Model.Title</h2>
    </div>

    <div class="row col-md-6 kc-images justify-content-center no-gutters">
        @{
            var tmpStringBuilder = new StringBuilder();
            foreach (var modelPathToImage in Model.PathToImages)
            {
                tmpStringBuilder.Append(modelPathToImage);
                tmpStringBuilder.Append(';');
            }

            tmpStringBuilder.Remove(tmpStringBuilder.Length-1, 1);
            var imagesAsStringList = tmpStringBuilder.ToString();
        }

        <input type="hidden" id="@Model.Name" value="@imagesAsStringList">
        <a onClick="showGallery('@Model.Name', '@Model.PathToImages[0]');">
            <img src="@Model.PathToImages[0]" class="kc-main-gallery-image"/>
        </a>

        @{
            int colCount = 4;

            int colMdVal = 12 / colCount;

            int rowCount = Model.PathToImagesSm.Count / colCount;

            int imNum = 1;

            for (int j = 0; j < colCount; j++)
            {
                <div class="col-@colMdVal">
                    @for (int i = 0; i < rowCount; i++)
                    {
                        if (imNum < @Model.PathToImagesSm.Count)
                        {
                            <div class="kc-thumb-gallery-image-wrapper">
                                <a onClick="showGallery('@Model.Name', '@Model.PathToImagesSm[imNum]');">
                                    <img src="@Model.PathToImagesSm[imNum]" class="kc-thumb-gallery-image"/>
                                </a>
                            </div>
                            imNum++;
                        }
                    }
                </div>
            }
        }

    </div>
    
    <div class="col-md-6 kc-description">
        <h5 class="kc-h3">Характеристики и особености сооружения</h5>
    </div>
</div>


